<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--哪个提供程序-->
    <add key="provider" value="System.Data.OleDb"/>
    <!--哪个链接字符串-->
    <!--<add key="cnStr" value="Provider=SQLOLEDB;Data Source=(local)\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=AutoLot"/>-->
  </appSettings>
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Surce=(local)\SQLEXPRESS;
         Integrated Security=SSPI;Initial Catalog=AutoLot"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLOLEDB;
         Data Source=(local)\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=AutoLot"/>
  </connectionStrings>
</configuration>