@using YJC.Toolkit.Sys;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <title>出错啦</title>
    <link rel="stylesheet" type="text/css" href="@("toolkitjs/v5/bootstrap/css/bootstrap.min.css".AppVirutalPath())" />
    <style>
        #map
        {
            width: 300px;
            height: 103px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-top: -52px;
        }

        html, body
        {
            height: 100%;
        }

        img
        {
            max-height: 100%;
            margin: 0 auto;
            max-width: 100%;
        }

        .fill
        {
            min-height: 100%;
        }
    </style>
</head>
<body style="height: 100%">
    <div class="container fill">
        <div id="map">
            <img src="@("pic/sys/nopage.gif".AppVirutalPath())" />
        </div>
    </div>
</body>
</html>