<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.mitu_helloConnectionString"
            connectionString="Data Source=A;Initial Catalog=mitu.hello;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>