.list-group-item {
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid #c7deee;
    padding-left: 0;
    padding-right: 20px;
    margin-left: -15px;
    margin-right: -15px;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

#pageList {
    padding-left: 15px;
    padding-right: 15px;
}
