@inherits YJC.Toolkit.Razor.BootcssListTemplate
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@section Header{
    @RenderLocalPartial("EditTitle.cshtml", Model)
    @RenderLocalPartial("ListTitle.cshtml", Model)
}
@*@section Query {
    <div class="m15"></div>
}*@
