@using YJC.Toolkit.Sys;
<div style="position:relative">
    <div class="new-row">
        <img src="@("pic/sys/bg2.jpg".AppVirutalPath())" style="width:100%;">
        <div class="bg-title">@ViewBag.Title</div>
    </div>
</div>
